<h1>this is the house show page</h1>

<h1><%= @house.title %></h1>
<h3><%= @house.address %></h3>

<%= link_to "Edit", edit_house_path(@house)%>
<%= link_to "Delete", house_path(@house), data: {confirm: "Are you sure?", method: :delete}%>
